.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    container-type: inline-size;
}

.minHeight{
    min-height: 75vh;
}

.start{
    justify-content:flex-start;
}

@container(max-width: 640px){
    .start {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
}
.column{
    flex-direction: column;
    justify-content: flex-start;
}